body {
    background: url("../images/wallpaper.png") no-repeat center center fixed;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
}

label {
    font-size: 20px;
}

.form-group {
    padding-bottom: 10px;
}